
@font-face {
  font-family: 'MyriadPro-Bold';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/MyriadPro-Bold.otf');
}

@font-face {
  font-family: 'MyriadPro-Regular';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/MyriadPro-Regular_1.otf');
}

@font-face {
  font-family: 'MyriadPro-Semibold';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/MyriadPro-Semibold.ttf');
}