@import url('fonts.css?z=1486478439337');

/*
  === GENERAL TABLE SETTINGS ===
*/
.spicy-datatable {
  width: 100%;
  overflow: scroll;
  padding: 0;
  margin: 0 auto;
  background: #fff;
  font-size: 0.875rem;
  text-align: left;
  border-spacing: 0;
  margin-top: 40px;
}

.react-table {
  width: 100%;
  overflow: scroll;
  padding: 0;
  margin: 0 auto;
  background: #fff;
  font-size: 0.875rem;
  text-align: left;
  border-spacing: 0;
  margin-top: 40px;
}

.spicy-datatable>tbody>tr>td,
.spicy-datatable>tfoot>tr>td,
.spicy-datatable>thead>tr>th {
  box-sizing: border-box;
  height: 50px;
  padding: 0 20px;
  border: none;
  border-top: 1px solid #ddd;
  word-break: initial;
  vertical-align: middle;
}

.react-table>tbody>tr>td,
.react-table>tfoot>tr>td,
.react-table>thead>tr>th {
  box-sizing: border-box;
  height: 50px;
  padding: 0 20px;
  border: none;
  border-bottom: 1px solid #ddd;
  word-break: initial;
  vertical-align: middle;
}

.spicy-datatable>tbody>tr {
  transition: 0.25s all;
}

.react-table>tbody>tr {
  transition: 0.25s all;
}

.spicy-datatable>tbody>tr:hover {
  background: #e1e3e6;
}

.react-table>tbody>tr:hover {
  background:  #f2f2f2;
}

.spicy-datatable>thead>tr>th {
  border-top: 0;
}

.react-table>thead>tr>th {
  border-top: 0;
}

/* .react-table > thead > tr > th > span {
    font-family: 'MyriadPro-Bold';
  } */

.spicy-datatable>tbody>.spicy-datatable--selected-row {
  background: #ececec;
}

/*
    === ENTRY COUNTER AT BOTTOM ===
  */

.spicy-datatable-counter {
  text-align: left;
  font-size: 12px;
  padding: 0 20px;
  width: 50%;
  float: left;
  position: relative;
  top: 15px;
}

.react-table-counter {
  text-align: left;
  font-size: 12px;
  /* padding: 0 20px; */
  width: 50%;
  float: left;
  position: relative;
  /* top: 15px; */
  color: #ABABAB;
  margin: 7px 0px;
}

/*
    === PAGINATION SETTINGS ===
  */

.spicy-datatable-pagination-root,
.react-table-pagination-root {
  /* width: 50%; */
  position: relative;
  /* margin: 1rem auto; */
  overflow: initial;
}

.spicy-datatable-pagination-list,
.react-table-pagination-list {
  list-style: none;
  display: inline-block;
  position: relative;
  background: #fff;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.spicy-datatable-pagination-list .spicy-datatable-pagination-button,
.react-table-pagination-list .react-table-pagination-button {
  font-size: 12px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  float: left;
  color: #ccc;
  height: 2rem;
  width: 2rem;
  line-height: 2.3rem;
  text-align: center;
  border-radius: 100%;
  transition: 0.25s all;
}

.spicy-datatable-pagination-list .spicy-datatable-pagination-button-elipsis:hover {
  background: #fff !important;
}

.spicy-datatable-pagination-list .spicy-datatable-pagination-button.active,
.react-table-pagination-list .react-table-pagination-button.active {
  background: #ABABAB;
  color: #fff;
}

.react-table-pagination-list .react-table-pagination-button Span {
  color: #ccc;
}

.react-table-pagination-list .react-table-pagination-button:hover Span {
  color: #fff;
}


.react-table-pagination-list .react-table-pagination-button.active Span {
  color: #fff;
}

.spicy-datatable-pagination-list .spicy-datatable-pagination-button:hover,
.react-table-pagination-list .react-table-pagination-button:hover {
  background: #ABABAB;
  color: #fff;
}

.spicy-datatable-pagination-list .spicy-datatable-pagination-button-elipsis:hover {
  background: #fff !important;
  color: #ABABAB;
  cursor: default;
}

/*
    === TOP OPTIONS ===
  */

.spicy-datatableoptions-search,
.react-datatableoptions-search {
  text-align: right;
  float: right;
}

.spicy-datatableoptions-sizepicker {
  float: left;
  text-align: left;
  cursor: pointer;
}

.spicy-datatableoptions-sizepicker--selectfield {
  margin: 0 5px;
}

.spicy-datatableoptions-search--input,
.react-tableoptions-search--input {
  margin-left: 10px;
}

.spicy-datatableoptions-search--input,
.spicy-datatableoptions-search--label,
.react-tableoptions-search--label,
.react-tableoptions-search--input {
  cursor: initial;
}

.spicy-datatableoptions-export--button-wrapper {
  float: left;
  clear: both;
}

.spicy-datatableoptions-export--button {
  cursor: pointer;
}

.spicy-datatableoptions-sizepicker {
  margin-left: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: none;
}

.spicy-datatableoptions-search,
.react-tableoptions-search--input {
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  /* @media (max-width: 480px){
    margin-right: 5px;
  } */
}

.spicy-datatableoptions-search--input,
.react-tableoptions-search--input {
  border: 1px solid #cccdd3;
  border-radius: 3px;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}

@media (max-width: 480px) {
  .react-tableoptions-search--input {
    padding: 5px;
  }
}

.objections-table .spicy-datatable>tbody>tr>td:first-child {
  width: 7%;
}


.children {
  box-shadow: 0px 0px 8px 1px lightgrey;
  border-radius: 8px;
  padding: 18px;
  margin-top: 24px;
  margin-left: 20px
}

@media (max-width: 480px) {
  .children {
    margin-left: 0px !important;
  }
  .spicy-datatableoptions-search,
  .react-tableoptions-search--input {
    margin-right: 7px;
  }
}


.MuiPickersDay-isSelected,
.MuiPickersToolbar-toolbar {
  background-color: #9dbcdc !important;
}

.MuiButton-textPrimary {
  color: #3c89c9 !important;
}


.MuiStepIcon-root.MuiStepIcon-active,
.MuiCircularProgress-colorPrimary,
.MuiStepIcon-root.MuiStepIcon-completed {
  color: #9dbcdc !important;
}


.ViewCasesPage .MuiTypography-subtitle1 {
  text-transform: capitalize;
}

.MuiButtonBase-root {
  outline: none !important
}


.MuiButton-contained.Mui-disabled {
  opacity: 0.5;
  color: #fff !important;
}

.deleteForm div {
  width: 20px !important;
  height: 20px !important;
  margin-bottom: -5px !important;
}

.deleteShred div {
  width: 20px !important;
  height: 20px !important;
  margin-bottom: -5px !important;
}

.translateBtn div {
  width: 20px !important;
  height: 20px !important;
  margin-bottom: -5px !important;
}



.terms .css-756s1x {
  width: 25px !important;
  height: 25px !important;
}

.objections table tr th:first-child {
  width: 250px;
}


.tox-notification {
  display: none !important;
}

.tox-edit-area__iframe {
  background-color: rgba(0, 0, 0, 0.09) !important;
  border-bottom: 2px solid #9dbcdc !important;
}

.MuiSelect-root:after {
  borderColor: '#9dbcdc',
}

.MuiButton-root:hover {
  box-shadow: none;
}

.c-json-content .c-json-key {
  color: #1d1e1c !important;
  font-size: 15px;
}

.c-json-string {
  color: #1d1e1c !important;
}

._json-string_ {
  word-wrap: break-word;
}

.__json-pretty__{
  white-space: pre-wrap;
}

@media only screen and (max-width: 450px) {
  #children{
    overflow-x: scroll !important;
  }
  #appLogo{
    width: 230px !important;
  }
}